
.contacto {
    display: flex;
    gap: 24px;
}

.contacto div {
    width: 100%;
}

.columna {
    width: 50%;
    padding: 0.625em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.columna .contacto {
    border-right: 1px solid #ddd;
    float: left;
}
 
.datos {
    float: right;
}

.datos p {
    font-size: 14pxem;
}

.datos ul li {
   font-size: 13px;
   list-style: none;
}

.datos ul li img {
    display: flex;
    justify-content: flex-start;
}

.formulario p {
    display: flex;
}

.formulario p label {
    display: flex;
    vertical-align: top;
    width: 25%;
}

.formulario p:nth-child(4) {
    align-items: center;
}

.formulario textarea {
    resize: none;
    height: 150px;
}

.formulario input,.formulario textarea {
    background: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 0.8em;
    padding: 0.4em 0.6em;
    width: 90%;
}

.formulario textarea {
    resize: none;
    height: 18em;
}

.formulario .acciones {
    text-align: center;
}

.formulario input[type="submit"] {
    background: #6da9ed;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 16px;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 5rem;
    cursor: pointer;
    border-radius: 10%;
}



